/*
body {
  font: 14px Helvetica, Arial, sans-serif;
}
*/

hr {
  border: none;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  color #333;
}

table {
    font: 14px Helvetica, Arial, sans-serif;
    width: auto;
    padding: 0px;
    margin: 0px;
}

h1 {
    background-color: #ddd;
    color: #888;
    margin: 0;
    height: 50px;
}

h2 {
    text-align: center;
}

.login-area {
    font-size: 13px;
    color: gray;
    top: 10px;
}

.login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}

.front-link {
    color: gray;
    text-decoration: none;
}

.front-area {
    font-size: 13px;
    color: gray;
    position: absolute;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

.success {
    color: blue;
}

label + label {
    margin-top: 20px;
}

input[type=text].note {
    width:500px;
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    margin-right: 10%;
    margin-top: 5%;
    /*margin-bottom: 5%;*/
    text-decoration: none;
}

.note-on-item {
    color: gray;
}

.bought-item {
    color: gray;
    text-decoration: line-through;
}

.unbuy-item {
    color: blue;
    position: relative; right: auto;
}

.buyer-of-item {
    color: gray;
    font-style: italic;
    position: relative; left: 7px;
}
