{% extends "base.html" %}

{% block content %}


<div class="row">
  <div class="col-md-4 col-md-offset-4 page-box header-color">
    <div class="row page-box-header">
      <div class="col-md-12 text-right page-box-title">
        Manage Account
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4 page-box">
    <hr>
    <div class="row item-row">
      <a href="/my-groups">Manage my Groups</a>
    </div>
    <div class="row item-row">
      <a href="/manage-list">Manage my Lists</a>
    </div>
    <div class="row item-row">
      <a href="/account-management/change-email">Change Email</a>
    </div>
    <div class="row item-row">
      <a href="/account-management/change-password">Change Password</a>
    </div>
    <div class="row item-row">
      <a href="/my-groups/create-group">Create a Group</a>
    </div>
    <div class="row item-row">
      <a href="/my-groups/join-group">Join a Group</a>
    </div>
    {#
    <div class="row item-row">
      <a href="/leave-group">Leave a Group</a>
    </div>
    #}
    <hr>
  </div>
</div>

{% endblock %}
