<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/style.css" type="text/css" rel="stylesheet">

  <title>List Tracker</title>
</head>


<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-left">
        <a href="/" class="main-title">List Tracker</a>
      </div>
      <div class="col-md-6 login-area text-right">
        {% if user %}
        {{user.firstname}} |
        <a class="login-link" href="/account-management">
          manage account</a> |
          <a class="login-link" href="/logout">logout</a>
          {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
      {{text | safe}}
  {% block content %}
  {% endblock %}
  </div>




  </div>
</body>

</html>
