{% extends "base.html" %}

{% block content %}

<h2>Change Password</h2>
    <form method="post">
        <label>
            <div>Current Password</div>
            <input type="password" name="current_password">
            <div class="error">{{pw_error}}</div>
        </label>

        <label>
            <div>New Password</div>
            <input type="password" name="new_password">
            <div class="error">{{new_pw_error}}</div>
        </label>

        <label>
            <div>Verify Password</div>
            <input type="password" name="verify">
            <div class="error">{{verify_error}}</div>
        </label>
        <br>
      <input type="submit" value="Change Password">
    </form>

<div class="success">{{pw_success}}</div>

{% endblock %}
