{% extends "base.html" %}

{% block content %}

<div class="row" style="margin-bottom: 5px;">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h2 style="margin: 0;">{{create_success}}</h2>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <a class="btn btn-primary" href="/edit-list?l={{list_id}}">Edit List</a>
    <a class="btn btn-primary" href="/groups?g={{group_id}}">Go to Group</a>
    <a class="btn btn-danger" href="/delete-list?l={{list_id}}">Delete List</a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr>
  </div>
</div>

<div class="col-md-6 col-md-offset-3">
  {% for row in confirm_list %}
    {% if row['item'] %}
      <div class="row item-row">
        <li>
          <div class="col-md-6">
            <div>{{row['item']}}</div>
            {% if row.get('note') %}
            <div class="note-on-item"> - {{row['note']}}</div>
            {% endif %}
          </div>
          <div class="col-md-6 text-left">
            {% if row.get('link') %}
            <a class="btn btn-default btn-sm" href="{{row['link']}}" target="_blank">Link to item</a>
            {% else %}
            <div> </div>
            {% endif %}
          </div>
        </li>
      </div>
      <hr>
    {% endif %}
  {% endfor %} {# /"for row in confirm_list" #}
</div>


{% endblock %}
