{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-4 col-md-offset-4 page-box header-color">
    <div class="row page-box-header">
      <div class="col-md-6 text-left page-box-title">
        List Tracker
      </div>
      <div class="col-md-6 text-right  page-box-title">
        Create Group
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4 page-box">
    <hr>
    <form role="form" method="post">
      <div class="form-group">
        <label>Group Name</label>
        <input type="text" class="form-control" name="groupname" value="{{groupname}}" placeholder="group name">
        <div class="error">{{groupname_error}}</div>
      </div>
      <div class="form-group">
        <label>Rewrite Group Name</label>
        <input type="text" class="form-control" name="verify_groupname" value="{{verify_groupname}}" placeholder="retype group name">
        <div class="error">{{verify_groupname_error}}</div>
      </div>
      <div class="form-group">
        <label>Group Password</label>
        <input type="password" class="form-control" name="password" placeholder="password">
        <div class="error">{{pw_error}}</div>
      </div>
      <div class="form-group">
        <label>Verify Password</label>
        <input type="password" class="form-control" name="verify" placeholder="retype password">
        <div class="error">{{verify_error}}</div>
      </div>
      <button type="submit" class="btn btn-primary">Create Group</button>
    </form>
    <hr>
    <div class="success">{{success}}</div>
  </div>
</div>

{% endblock %}
