{% extends "base.html" %}

{% block content %}


<h2>{{header}}</h2>

{{prompt | safe}}

    <form method="post">
      <table>
        <tr>
          <td class="label">
            List Name
          </td>
          <td>
            <input type="text" name="listname" value="{{listname}}">
          </td>
          <td class="error">
            {{error_listname}}
          </td>
        </tr>
        <tr>
        <td> </td> 
        <td><input type="checkbox" name="other_person">Make this list on behalf of another person</td>
        <td> </td>
        </tr>
        </table>
<br>
In the box below, enter the item name, a link to where group members can buy the item (for instance, on Amazon or another website), and any notes about the item (such as a shirt size, preferred color, etc...).
<br>
        <table>
        <th>Item Name</th>
        <th>Link to Item</th>
        <th>Notes on Item</th>
        <th> </th>


{% for row in range(0, (numrows - 1)) %}
        <tr>
          <td>
            <input type="text" name="item_{{row}}" value="{{render_row[row]['item']}}">
          </td>
          <td>
            <input type="text" name="link_{{row}}" value="{{render_row[row]['link']}}">
          </td>
          <td>
            <input type="text" name="note_{{row}}" value="{{render_row[row]['note']}}">
          </td>
          <td class="error">
            {{render_row[row]['error']}}
          </td>
        </tr>
          
{% endfor %}

      </table>

      <input type="submit">
    </form>

<div class="success">{{success}}</div>

{% endblock %}