{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-12 text-center">
    <div class="success">{{create_success}}</div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <h2>{{header}}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    {{prompt | safe}}
  </div>
</div>

<form role="form" method="post">
<div class="col-md-6 col-md-offset-3">
  <div class="row">
    <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#list_name" aria-expanded="true" aria-controls="list_name">
      Edit List Name
    </button>
    <div id="list_name" class="collapse">
      <div class="form-group">
        <label>List Name</label>
        <input type="text" class="form-control" name="listname" value="{{listname}}">
        <div class="error">{{error_listname}}</div>
      </div>
    </div>
  </div>
  <hr>

  <div class="row text-center">
    <h3>Edit Items</h3>
  </div>
  <hr>

  {% for row in range(0, length) %}

    <div class="form-group panel-group">
      <div class="col-md-6">
        {% if render_row[row].get('error') %}
          <label class="error">Item Error</label>
        {% else %}
          <label>{{render_row[row]['item']}} </label>
        {% endif %}
      </div>
      <div class="col-md-6 text-right">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#note_{{row}}" aria-expanded="true" aria-controls="note_{{row}}">
          See Note
        </button>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#link_{{row}}" aria-expanded="true" aria-controls="link_{{row}}">
          See Link
        </button>
      </div>
      <hr>

      <div class="error">{{render_row[row]['error']}}</div>

      {% if render_row[row].get('error') %}
        <div class="input-group">
          <div class="input-group-addon">item</div>
          <input type="text" class="form-control" name="item_{{row}}" placeholder="item {{rownum}}">
        </div>
      {% else %}
        <input type="hidden" name="item_{{row}}" value="{{render_row[row]['item']}}">
        <br>
      {% endif %}


      {# if there's a note, don't collapse the div, otherwise keep it collapsed #}
      {% if render_row[row].get('note') %}
      <div id="note_{{row}}" class="collapse in">
      {% else %}
      <div id="note_{{row}}" class="collapse">
      {% endif %}
        <div class="input-group">
          <div class="input-group-addon">note</div>
          <input type="text" class="form-control" name="note_{{row}}" value="{{render_row[row]['note']}}" placeholder="note for {{render_row[row]['item']}}">
        </div>
      </div>
      {# if there's a link, don't collapse the div, otherwise keep it collapsed #}
      {% if render_row[row].get('link') %}
      <div id="link_{{row}}" class="collapse in">
      {% else %}
      <div id="link_{{row}}" class="collapse">
      {% endif %}
      <div class="input-group">
        <div class="input-group-addon">link</div>
        <input type="text" class="form-control" name="link_{{row}}" value="{{render_row[row]['link']}}" placeholder="link to {{render_row[row]['item']}}">
      </div>
      </div>
    </div>

  {% endfor %} <!--/"for row in range(0, length)"-->

  <hr>
  <div class="row text-center">
    <h3>Add Items</h3>
  </div>
  <hr>

  {% for row in range(length, numrows) %}
  {% set rownum = row + 1 %}

  <div class="form-group panel-group">
    <div class="col-md-6">
      <label>Add Item</label>
    </div>
    <div class="col-md-6 text-right">
      <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#note_{{row}}" aria-expanded="true" aria-controls="note_{{row}}">
        Add Note
      </button>
      <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#link_{{row}}" aria-expanded="true" aria-controls="link_{{row}}">
        Add Link
      </button>
    </div>
    <hr>
    <div class="input-group">
      <div class="input-group-addon">item</div>
      <input type="text" class="form-control" name="item_{{row}}" placeholder="item {{rownum}}">
    </div>
    <div id="note_{{row}}" class="collapse">
      <div class="input-group">
        <div class="input-group-addon">note</div>
        <input type="text" class="form-control" name="note_{{row}}" placeholder="note for item {{rownum}}">
      </div>
    </div>
    <div id="link_{{row}}" class="collapse">
      <div class="input-group">
        <div class="input-group-addon">link</div>
        <input type="text" class="form-control" name="link_{{row}}" placeholder="link to item {{rownum}}">
      </div>
    </div>
  </div>

  {% endfor %} <!--/"for row in range(length, numrows)"-->

  <div class="checkbox">
    <label>
      <input type="checkbox" name="more_items"> Add More Items
    </label>
  </div>
  <hr>
  <button type="submit" class="btn btn-primary">Save</button>
  </form>
  <hr>
  <div class="success">{{success}}</div>

</div>

{% endblock %}
