{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2>{{user.firstname}} {{user.lastname}}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-2 text-center">
    <div class="text-center">
      <h3>My Lists</h3>
      <a class="btn btn-primary" href="/create-list">Create List</a>
    </div>
    <hr>
    {% if lists %}
    {% for list in lists %}
      <div class="row front-box-list">
        <div class="col-md-4">
          {{list.groupname}}
        </div>
        <div class="col-md-3 front-list-item">
          <a class="btn btn-info btn-xs" href="/edit-list?l={{list.key.id()}}">Edit "{{list.listname}}"</a>
        </div>
      </div>
    {% endfor %}
    {% endif %}
  </div>
  <div class="col-md-4 text-center">
    <div class="text-center">
      <h3>My Groups</h3>
      <a class="btn btn-primary" href="/my-groups/join-group">Join Group</a>
      <a class="btn btn-primary" href="/my-groups/create-group">Create Group</a>
    </div>
    <hr>
    {% if groups %}
      {% for group in groups %}
        <div class="row front-box-list">
          <div class="col-md-4">
            {{group.groupname}}
          </div>
          <div class="col-md-3 front-list-item">
            <a class="btn btn-info btn-xs" href="/groups?g={{group.group}}">See Group</a>
          </div>
          <div class="col-md-3 front-list-item">
            <a class="btn btn-info btn-xs" href="/create-list?g={{group.group}}">Make a List</a>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>

{% endblock %}
