{% extends "base.html" %}

{% block content %}

<div class="row" style="margin-bottom: 5px;">
  <div class="col-md-6 text-center">
    <h2 style="margin: 0;">{{groupname}}</h2>
  </div>
  <div class="col-md-6 text-center">
    <a class="btn btn-default" href="/create-list?g={{group_id}}">Create List</a>
    <a class="btn btn-default" href="/manage-list">Edit my list</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="success">{{create_success}}</div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <div class="note-on-item">{{no_list_msg}}</div>
  </div>
</div>

{% if group_lists %}

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="note-on-item">Select the items you want to buy, then click save to save your selections.</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2">
      <form role="form" method="post">
        {% for grouplist in group_lists %}
          {% if grouplist['creator_id'] != user.key.id() or grouplist['other_person'] == True %}
          <div class="row page-box page-box-header">
            <div class="col-md-12 text-center">
              <div class="page-box-title">{{grouplist['listname']}}</div>
            </div>
          </div>
          <div class="page-box">
            {% for item in grouplist['items'] %}
            <div class="row item-row">
              <div class="col-md-8"><! list item names>
                  {% if item.get('bought') %}
                    <div class="bought-item">{{item['item']}}</div>
                  {% else %}
                    <div>{{item['item']}}</div>
                  {% endif %}
                  {% if not item.get('bought') and item.get('note') %} <! only display note if item not bought>
                  <div class="note-on-item"> - {{item['note']}}</div>
                  {% endif %}
              </div>
              <div class="col-md-2">
                {% if item.get('link') %}
                <a class="btn btn-default btn-sm" href="{{item['link']}}" target="_blank">See Item</a>
                {% else %}
                <div> </div>
                {% endif %}
              </div>
              <div class="col-md-2"> <! buy and un-buy checkboxes>
                {% if not item.get('bought') %}
                <input type="checkbox" name="buy_{{grouplist['list_id']}}_{{item['item']}}"> Buy
                {% elif item.get('bought')[0] == user.key.id() %}
                <div style="color: #337AB7;"><input type="checkbox" name="unbuy_{{grouplist['list_id']}}_{{item['item']}}"> Un-buy</div>
                {% endif %}
              </div>
            </div>
            <hr>
            {% endfor %} <! close "for item in grouplist['items']">
          </div>
          {% endif %} <! close "if grouplist['creator_id'] != user.key.id() ...">
        <hr>
        {% endfor %} <! close "for grouplist in group_lists">
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>

{% endif %} <! close "if group_lists">

{% endblock %}


{#


{% if group_lists %}
<div class="note-on-item">Select the items you want to buy, then click save to save your selections.</div>
<br>

<form method="post">
    <input type="submit" value="Save">
{% for grouplist in group_lists %}

    {% if grouplist['creator_id'] != user.key.id() or grouplist['other_person'] == True %}

<h3>{{grouplist['listname']}}</h3>

        <table>
        <th>
            Buy
        </th>


        {% for item in grouplist['items'] %}

        <tr>
        <td align="center">
            {% if not item.get('bought') %}
            <input type="checkbox" name="buy_{{grouplist['list_id']}}_{{item['item']}}">
            {% endif %}
        </td>
          <td>
            {% if item.get('bought') %}
            <div class="bought-item">{{item['item']}}</div>
              {% else %}
            {{item['item']}}
              {% endif %}
          </td>
          <td>
              {% if not item.get('bought') and item.get('link') %}
              <a href="{{item['link']}}" target="_blank">Buy it online</a>
	      {% elif item.get('bought')[0] == user.key.id() %}
              <input type="checkbox" name="unbuy_{{grouplist['list_id']}}_{{item['item']}}"> Un-buy this item
              {% elif item.get('bought') %}
              <div class="buyer-of-item">bought by {{item['bought'][1]}}</div>
              {% endif %}
          </td>
          <td>
              {% if not item.get('bought') and item.get('note') %}
              <div class="note-on-item"> - {{item['note']}}</div>
              {% endif %}
          </td>
        </tr>
            {% endfor %}
</table>


<hr width="300">

        {% endif %}

{% endfor %}
<input type="submit" value="Save">
</form>
{% endif %}

{% endblock %}

#}
