{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-4 col-md-offset-4 page-box" style="background-color: #337AB7;">
    <div class="row page-box-header">
      <div class="col-md-6 text-left page-box-title">
        List Tracker
      </div>
      <div class="col-md-6 text-right  page-box-title">
        Join Group
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4 page-box">
    <hr>
    <form role="form" method="post">
      <div class="form-group">
        <label>Group Name</label>
        <input type="text" class="form-control" name="groupname" value="{{group}}" placeholder="group name (case sensitive)">
      </div>
      <div class="form-group">
        <label>Group Password</label>
        <input type="password" class="form-control" name="password" placeholder="password">
        <div class="error">{{error}}</div>
      </div>
      <button type="submit" class="btn btn-primary">Next</button>
    </form>
    <hr>
    <div class="success">{{success}}</div>
  </div>
</div>

{% endblock %}
