{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-4 col-md-offset-4 page-box header-color">
    <div class="row page-box-header">
      <div class="col-md-6 text-left page-box-title">
        List Tracker
      </div>
      <div class="col-md-6 text-right  page-box-title">
        Login
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4 page-box">
    <hr>
    <form role="form" method="post">
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="email" value="{{email}}" placeholder="enter email">
        <div class="error">{{email_error}}</div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" placeholder="password">
        <div class="error">{{pw_error}}</div>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="remember"> Keep me logged in
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="error">{{reset_pw | safe}}</div>
        <a href="/signup">Sign me up!</a> | <a href="/recover-password">Recover Password</a>
      </div>
    </div>
    <hr>
  </div>
</div>



{% endblock %}
