{% extends "base.html" %}

{% block content %}

{#

    <h2>Manage my Account</h2>
<br><br>
      <table>
        <tr>
          <td class="label">
            <a href="/join-group">Join a Group</a>
          </td>
        </tr>

        <tr>
          <td class="label">
            <a href="/leave-group">Leave a Group</a>
          </td>
        </tr>

        <tr>
          <td class="label">
            <a href="/account-management/change-email">Change Email</a>
          </td>
        </tr>

        <tr>
          <td class="label">
            <a href="/account-management/change-password">Change Password</a>
          </td>
        </tr>
      </table>


#}

{% endblock %}