{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="alert alert-success" role="alert">{{success}}</div>
</div>


<div class="row">
  <div class="col-md-4 col-md-offset-4 page-box header-color">
    <div class="row page-box-header">
      <div class="col-md-6 text-left page-box-title">
        List Tracker
      </div>
      <div class="col-md-6 text-right  page-box-title">
        Recover Password
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4 page-box">
    <hr>
    <form role="form" method="post">
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="email" value="{{email}}" placeholder="enter email">
        <div class="error">{{email_error}}</div>
      </div>
      <hr>
      <button type="submit" class="btn btn-primary">Recover</button>
    </form>
    <hr>
  </div>
</div>



{% endblock %}
