{% extends "base.html" %}

{% block content %}

<div class="row" style="margin-bottom: 5px;">
  <div class="col-md-6 text-center">
    <h2 style="margin: 0;">Remove Members: {{groupname}}</h2>
  </div>
  <div class="col-md-6 text-center">

  </div>
</div>

{% if success %}
<hr>
<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <div class="success">{{success}}</div>
  </div>
</div>
  {% if removed %}
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        {% for p in removed%}
        <li>{{p}}</li>
        {% endfor %}
      </div>
    </div>
  {% endif %}
<hr>
<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <a class="btn btn-primary" href="/manage-groups">Take me Back</a>
  </div>
</div>
{% endif %} {# end if success #}

<hr>

{% if members %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="note-on-item">
      Select the members you wish to remove, and press submit.  This action is permanent and cannot be reversed.
    </div>
  </div>
</div>
<hr>
<form role="form" method="post">
  <div class="col-md-6 col-md-offset-3">
    <button type="reset" class="btn btn-default">Reset</button>
    <hr>
  {% for member in members %}
    {% if member.member != user.key.id() %}
    <div class="row">
      <div class="col-md-6">
        <li>{{member.membername}}</li>
      </div>
      <div class="col-md-6">
        <label>
          <input type="checkbox" name="remove_{{member.member}}"> Remove
        </label>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  <hr>
  <a class="btn btn-primary" href="{{referer}}">Take me Back!</a>
  <button type="submit" class="btn btn-danger">Remove Members</button>

  </div>
</form>

{% elif success %}



{% else %} {# if there are no members besides you #}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="note-on-item">
      You are the only member of this group.  To leave the group, <a href="/my-groups/leave-group?g={{group_id}}">follow this link</a>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <a class="btn btn-primary" href="/manage-groups">Take me Back</a>
  </div>
</div>
{% endif %}


{% endblock %}
