{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-4 col-md-offset-4 page-box" style="background-color: #337AB7;">
    <div class="row page-box-header">
      <div class="col-md-6 text-left page-box-title">
        List Tracker
      </div>
      <div class="col-md-6 text-right  page-box-title">
        Signup
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4 page-box">
    <hr>
    <form role="form" method="post">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" name="firstname" value="{{firstname}}" placeholder="first name">
        <div class="error">{{firstname_error}}</div>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" name="lastname" value="{{lastname}}" placeholder="last name">
        <div class="error">{{lastname_error}}</div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" placeholder="password">
        <div class="error">{{pw_error}}</div>
      </div>
      <div class="form-group">
        <label>Verify Password</label>
        <input type="password" class="form-control" name="verify" placeholder="retype password">
        <div class="error">{{verify_error}}</div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="email" value="{{email}}" placeholder="email address">
        <div class="error">{{email_error}}</div>
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    <hr>
  </div>
</div>


{% endblock %}
